@import '../styles/Base.scss';


.mainContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

}
.welcome_message {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  background-color: rgba(47, 79, 79, 0.589);
  animation: showAndHide 2s linear 1  forwards;
  z-index: 9999;
}