 @import './Colors.scss';
/*
button {
  border: 2px solid $secondary-light;
  padding: 8px;
  background-color: $secondary-light;
  color: black;
  min-width: 64px;
  border-radius: 2%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $secondary-dark;
    border-radius: 50%;

    transition: all 0.2s linear;
  }
  &:active::before {
    opacity: 0.5;
    transform: scale(1);
  }
}
 */
 form {
   font-family: 'Playfair Display', serif;
   font-size: 1.5rem;
   width: 100%;
   input[type=text]{
      display: flex;
      justify-content: stretch;
      font-size: 1.5rem;
      font-family:'Fauna One', serif;;
   }
 }
 .error__Message{
   font-family: 'Fauna One', serif;
   color:$error;
 }
 .hidden {
   visibility: hidden;
 }