 @import './Colors.scss';

 form {
   font-family: 'Playfair Display', serif;
   font-size: 1.5rem;
   width: 100%;
   input[type=text]{
      display: flex;
      justify-content: stretch;
      font-size: 1.5rem;
      font-family:'Fauna One', serif;;
   }
 }
 .error__Message{
   font-family: 'Fauna One', serif;
   color:$error;
 }
 .hidden {
   visibility: hidden;
 }