@import '../../styles/Base.scss';

.message {
  padding: 12px;
  min-width:148px;
  width: 300px;
  border-radius: 32px;
  margin-top: 8px;
}
.message.sender{
  background-color: $primaryDarker;
  align-self: flex-end;
}
.message.reciver{
  background-color: $accent;
  align-self: flex-start;
}