@import '../../styles/Base.scss';

.message {
  padding: 16px 24px;
  min-width:148px;
  width: 300px;
  border-radius: 32px;
  margin-top: 8px;
}
.message.sender{
  background-color: $primary;
  align-self: flex-end;
  text-align: right;
  
}
.message.reciver{
  background-color: $accent;
  align-self: flex-start;
}